.main{
    padding: 50px 0 20px;
    display: flex;
    justify-content: space-between;
}

.card{
    position: relative;
}

.card span{
    width: 50%;
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 1.9rem;
    font-weight: 700;
    color: #fff;
}