.swiper {
  width: 100vw;
  left: calc(-50vw + 50%);
  position: relative;
  overflow: hidden;
}

.swiperSlide {
  position: relative;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiperSlide img {
  width: 100%;
}
