.main {
  width: 100%;
  position: relative;
  /* left: calc(-50vw+5%); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #ffa400; */
}

.leftSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.searchMain {
  width: 625px;
  height: 42px;
  position: relative;
  box-sizing: border-box;
}

.searchDrop select {
  width: 153px;
  height: 38px;
  padding: 0px 12px;
  appearance: none;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: none;
  background: url("https://ebazaar.mn/static/media/ArroRightDown.5ccc071797ab80b43f30a32608ff6d26.svg");
  background-repeat: no-repeat;
  background-position: 93% 50%;
  background-color: #eceff1;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 400;
  color: #37474f;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 10;
  outline: none;
}

.searchMain input {
  width: 100%;
  height: 42px;
  position: absolute;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  outline: none;
  padding-left: 170px;
}

.searchIcon {
  position: absolute;
    right: 12px;
    top: 8px;
}

.rightSec {
  width: 488px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.rightSec button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.notif,.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  gap: 0;
}

.rightSec span {
  font-size: 10px;
  font-family: "Nunito";
  font-weight: 600;
  line-height: 12px;
  color: #78909c;
  padding: 0;
  margin: 0;
}

.rightSec img {
  width: 24px;
  height: 24px;
}

.info {
  width: 313px;
  height: 44px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.8px solid #cfd8dc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,.06);
  box-sizing: border-box;
}

.shop {
  width: 177px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid #cfd8dc;
  cursor: pointer;
  box-sizing: border-box;
}
.shopIcon{
  margin-right: 8px;
}
.shopText {
  width: 115px;
  display: flex;
  flex-direction: column;
}
.shopText p{
  color: #37474f;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  height: 18px;
}
.shopText span{
  color: #90a4ae;
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.cart {
  width: 112px;
  height: 24px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
}

.basket{
  position: relative;
  display: flex;
  flex-direction: column;
}

.basket span{
  width: 16px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffa400;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  color: #fff;
  position: absolute;
  top: -3px;
  right: -5px;
}

.basket img{
  width: 24px;
  height:24px ;
}

.cartText{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cartText p{
  font-size: 14px;
  font-weight: 700;
  color: #37474f;
  margin: 0;
  padding: 0;
  line-height: 12px;
}

.cartText span{
  font-size: 10px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}