.main {
  width: 100%;
  padding: 5px 0;
  position: sticky;
  display: flex;
  align-items: center;
  background-color: #fbfbfc;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.leftSec {
  display: flex;
  flex-direction: row;
}
.leftSec button {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: #546e7a;
  margin-right: 20px;
  padding: 0.2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all .2s;  
}



.rightSec {
  display: flex;
}

.rightSec button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #546e7a;
  font-size: 14px;
  margin-right: 20px;
  padding: 2.8px 0;
}

.gif{
  margin-right: 0 !important;
}
.gif img{
  height: 38px;
}
