.main {
  width: 100%;
  padding: 5px 0;
  position: sticky;
  display: flex;
  align-items: center;
  background-color: #fbfbfc;
}

.container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSec {
  display: flex;
  flex-direction: row;
  align-items: center;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #546e7a;
}

.menu {
  margin-right: 10px;
  padding: 3px 0;
  border-bottom: 2px rgba(255, 166, 0, 0) solid;
  transition: 0.3s;
}

.menu:hover {
  border-bottom: 2px #ffa400 solid;
}

.rightSec {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.gif {
  height: 38px;
}
