.App {
  max-width: 90%;
  position: relative;
  height: 100vh;
  margin: 0 auto;
  /* background-color: #fbfbfc;s */
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
